{% extends "base1.html" %}

{% load crispy_forms_tags %}

{% block body %}

<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container py-4">
        <div class="card">
            <div class="card-header">
                <b>Crear un Recibo</b>
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos del Recibo</h4>
                <!--False-->
                <form action="" class="formulario_cliente" method="POST">
                    
                    {% csrf_token %}
                    {{ form | crispy}}

                    <center>
                        <button type="submit" id="btnRegistrar" class="btn btn-primary">Registrar</button>
                    </center>

                </form>
                
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}
